body {
  min-height: 100vh;
  background-color: rgb(238, 232, 232) !important;
}

a.navbar-brand {
  margin-inline-start: -225px;
}

.nav-link {
  color: white !important;
  margin-left: 5em;
}

/* BOTH SIDEBAR POSITION */
.sidebar {
  background-color: #404040;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 250px;
}

.sidebar__content {
  padding: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar-tags {
  background-color: #404040;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 250px;
}

.sidebar-tags__content {
  padding: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.mainscreen {
  height: 100%;
  padding-left: 300px;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: rgb(238, 232, 232);
}

.mainscreen-tags {
  width: 100%;
  padding-left: 300px;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.list-students {
  margin-top: 3em;
  width: inherit;
  color: azure;
  font-size: 1.4rem;
}

.list-tags {
  margin-top: 3em;
  width: inherit;
  color: azure;
  font-size: 1.4rem;
}

ul {
  list-style-type: none;
}

li {
  padding: 5px;
}

li:visited{
  background-color: rgb(238, 232, 232);
  color: black;
}

li:hover{
  background-color: rgb(238, 232, 232);
  color: black;
}

li:active{
  background-color: rgb(238, 232, 232);
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: left !important;
  margin-top: 70px;
}

label {
  color: azure;
  padding: 0;
  display: inline-block;
  font-size: 15px;
  margin-bottom: 0 !important;
}

input[type=text] {
  display: inline-block;
  margin-top: 10px;
  width: 100%;
  font-size: 15px;
  border-radius: 2px;
  border: 3px solid #98d0f1
}

button.btn.btn-primary {
  margin-top: 25px;
}